<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>California House Price Prediction</title>
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
  <div class="container">
    <div class="info">
      <h2>We're Here to Help You</h2>
      <h1>Predict California House Price</h1>
      <p>Enter your data to estimate property prices based on location, rooms, age and more.</p>
      <div class="contact">
        <p><strong>Email:</strong> <a href="https://mail.google.com/mail/u/0/#inbox?compose=CllgCHrhVDPzdLmgLcdXHtrHzbnPrTwrZxmwhkTWBFQstXThVpCQxNVCZqntjMNvhVtVGSChmjV">tosatyamsahu@gmail.com</a></p>
        <p><strong>GitHub:</strong> <a href="https://github.com/Satyam6024">github.com/Satyam6024</a></p>
        <p><strong>Phone:</strong> +91 7978322391</p>
      </div>
    </div>

    <div class="form-card">
      <form action="{{ url_for('predict')}}" method="post">
        <input type="text" name="MedInc" placeholder="Median Income" required>
        <input type="text" name="HouseAge" placeholder="House Age" required>
        <input type="text" name="AveRooms" placeholder="Average Rooms" required>
        <input type="text" name="AveBedrms" placeholder="Average Bedrooms" required>
        <input type="text" name="Population" placeholder="Population" required>
        <input type="text" name="AveOccup" placeholder="Average Occupancy" required>
        <input type="text" name="Latitude" placeholder="Latitude" required>
        <input type="text" name="Longitude" placeholder="Longitude" required>
        <button type="submit">Get Prediction</button>
      </form>
      {% if prediction_text %}
        <div class="prediction">{{ prediction_text }}</div>
      {% endif %}
    </div>
  </div>
</body>
</html>
